<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- app info -->
    <meta name="description" content="school lunch app">
    <meta name="author" content="shinya oguri">
    <meta name="theme-color" content="#5E3B4D">
    <title>shocknine</title>

    <!-- for pwa -->
    <link rel="manifest" href="manifest.json">

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/icon-android/icon-192-192.png">

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/onsenui@2.10.6/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui@2.10.6/css/onsen-css-components.min.css">

    <!-- JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/onsenui@2.10.6/js/onsenui.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-onsenui@2.6.1/dist/vue-onsenui.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>

    <!-- mobile  -->
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">

    <!-- mobile Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="shocknine">

    <!-- ios Icon Image-->
    <!-- iPhone+ (6+,6S+,7+,8+,X,XS,XS Max,) [180x180]-->
    <link rel="apple-touch-icon" type="image/png" href="images/icon-ios/Icon-60@3x.png" sizes="180x180">
    <!-- iPhone (4,4S,5,5C,5S,6,6SE,6S,7,8) [120x120]-->
    <link rel="apple-touch-icon" type="image/png" href="images/icon-ios/Icon-60@2x.png" sizes="120x120">
    <!-- iPad Pro [167x167]-->
    <link rel="apple-touch-icon" type="image/png" href="images/icon-ios/Icon-167.png" sizes="167x167">
    <!-- Retina iPads (Mini2&3,Air,3&4 ) [152x152]-->
    <link rel="apple-touch-icon" type="image/png" href="images/icon-ios/Icon-76@2x.png" sizes="152x152">

</head>

<body style="position:fixed;">

<!-- main page -->
<template id="home">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-toolbar-button @click="toggleMenu">
                    <v-ons-icon icon="fa-bars"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">{{ title }}</div>
            <div class="right">
                <v-ons-toolbar-button @click="toggleMenu">
                    <v-ons-icon icon="fa-calendar"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>

        </v-ons-toolbar>

        <div class="menu-image">
            <img class="todays-image" :src="imageSrc" onerror="this.src='images/noimg.png'">
            <p>{{ todayStr }}</p>
        </div>
        <v-ons-list v-for="item in todaysMenu.data.menu" :key="item.name">
            <v-ons-list-header>
                {{item.type}}
            </v-ons-list-header>
            <v-ons-list-item>
                {{item.name}}
            </v-ons-list-item>

        </v-ons-list>
    </v-ons-page>
</template>

<!-- side menu page 1/3 -->
<template id="news">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-back-button>戻る</v-ons-back-button>
            </div>
            <div class="center">news</div>
            <div class="right">
            </div>
        </v-ons-toolbar>

        <p style="text-align: center">
            Some news here.
        </p>
    </v-ons-page>
</template>

<!-- side menu page 3/3 -->
<template id="settings">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-back-button>戻る</v-ons-back-button>
            </div>
            <div class="center">setting</div>
            <div class="right">
            </div>
        </v-ons-toolbar>
        <p style="text-align: center">
            Change the settings.
        </p>
    </v-ons-page>
</template>

<!-- splitter -->
<template id="splitter">
    <v-ons-splitter>
        <v-ons-splitter-side swipeable
                             width="60%"
                             collapse=""
                             side="left"
                             :open.sync="menuIsOpen"
        >
            <v-ons-page>
                <v-ons-list>
                    <v-ons-list-header>メニュー</v-ons-list-header>
                    <v-ons-list-item v-for="page in sideMenuPages" :key="page.title"
                                     tappable
                                     modifier="chevron"
                                     @click="loadPage(page.page)"
                    >
                        <div class="left">
                            <v-ons-icon :icon="page.icon"></v-ons-icon>
                        </div>
                        <div class="center">{{ page.title }}</div>
                    </v-ons-list-item>
                    <v-ons-list-header>リンク</v-ons-list-header>
                    <v-ons-list-item v-for="link in links" :key="link.title"
                                     tappable
                                     @click="loadLink(link.url)"
                    >
                        <div class="left">
                            <v-ons-icon :icon="link.icon"></v-ons-icon>
                        </div>
                        <div class="center">{{ link.title }}</div>
                    </v-ons-list-item>
                </v-ons-list>
            </v-ons-page>

        </v-ons-splitter-side>

        <v-ons-splitter-content>
            <v-ons-navigator :page-stack="pageStack"
                             :pop-page="storePop"
                             :options="{}"
            ></v-ons-navigator>
        </v-ons-splitter-content>
    </v-ons-splitter>
</template>


<!-- tabbar -->
<template id="tabbar">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="center">{{ title }}</div>
        </v-ons-toolbar>

        <v-ons-tabbar :tabs="tabs"
                      :index.sync="index"
        >
        </v-ons-tabbar>
    </v-ons-page>
</template>
<!-- tab 1/4 -->
<template id="tab_home">
    <v-ons-page>
        <v-ons-pull-hook
                :action="onAction"
                :fixed-content="md"
                :height="md ? 84 : 64"
                :on-pull="md && onPull || null"
                @changestate="pullhookstate = $event.state"
        >
            <!-- Show this on iOS -->
            <v-ons-icon v-if="!md"
                        size="22px"
                        class="pull-hook-spinner"
                        :icon="pullhookstate === 'action' ? 'fa-spinner' : 'fa-arrow-down'"
                        :rotate="pullhookstate === 'preaction' && 180"
                        :spin="pullhookstate === 'action'"
            ></v-ons-icon>

            <!-- Show this on Material Design -->
            <div v-else class="pull-hook-progress">
                <v-ons-progress-circular
                        :value="ratio * 100"
                        :indeterminate="state === 'action'"
                        :style="{ transform: 'rotate(${ratio}turn)' }"
                ></v-ons-progress-circular>
            </div>
        </v-ons-pull-hook>

        <div class="menu-image">
            <img class="todays-image" :src="imageSrc" onerror="this.src='images/noimg.png'">
            <p>{{ todayStr }}</p>
        </div>
        <v-ons-list v-for="item in todaysMenu.data.menu" :key="item.name">
            <v-ons-list-header>
                {{item.type}}
            </v-ons-list-header>
            <v-ons-list-item>
                {{item.name}}
            </v-ons-list-item>

        </v-ons-list>

    </v-ons-page>
</template>
<!-- tab 2/4 -->
<template id="tab_calendar">
    <v-ons-page>
    </v-ons-page>
</template>
<!-- tab 3/4 -->
<template id="tab_search">
    <v-ons-page>
        <p style="text-align: center; margin-top: 10px;">
            <ons-search-input
                    placeholder="検索"
            ></ons-search-input>
        </p>
        <div id="calendar-nav">
            <button @click="moveLastMonth()">
                <v-ons-icon icon="fa-angle-left"></v-ons-icon>
            </button>
            <span>{{calData.year}} - {{getMonthName(calData.month)}}</span>
            <button @click="moveNextMonth()"><i class="fa fa-angle-right" aria-hidden="true"></i></button>
        </div>
        <table id="calendar" class="table table-bordered">
            <thead>
            <tr>
                <th v-for="week in weeks">{{week}}</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="week in calendar">
                <td v-for="day in week">{{day.day}}</td>
            </tr>
            </tbody>
        </table>

    </v-ons-page>
</template>
<!-- tab 4/4 -->
<template id="tab_settings">
    <v-ons-page>
        <v-ons-list>
            <v-ons-list-header>Thumbnails and titles</v-ons-list-header>
            <v-ons-list-item>
                <div class="center">
                    <span class="list-item__title">Cutest kitty</span><span
                        class="list-item__subtitle">On the Internet</span>
                </div>
            </v-ons-list-item>
        </v-ons-list>
    </v-ons-page>
</template>

<!-- app -->
<div id="app"></div>

<script>
    ////////////////
    // Service Worker
    ////////////////
    window.addEventListener('load', function () {
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("sw.js")
                .then(function (registration) {
                    console.log("serviceWorker registed.");
                }).catch(function (error) {
                console.warn("serviceWorker error.", error);
            });
        }
    });

    ////////////////
    // Vuex
    ////////////////
    const store = new Vuex.Store({
        modules: {
            navigator: {
                strict: true,
                namespaced: true,
                state: {
                    stack: [],
                    options: {}
                },
                mutations: {
                    push(state, page) {
                        state.stack.push(page)
                    },
                    pop(state) {
                        if (state.stack.length > 1) {
                            state.stack.pop()
                        }
                    },
                    replace(state, page) {
                        state.stack.pop();
                        state.stack.push(page)
                    },
                    reset(state, page) {
                        state.stack = [page || state.stack[0]]
                    },
                    options(state, newOptions = {}) {
                        state.options = newOptions
                    }
                }
            },
            splitter: {
                strict: true,
                namespaced: true,
                state: {
                    isOpen: false
                },
                mutations: {
                    toggle(state, shouldOpen) {
                        if (typeof shouldOpen === 'boolean') {
                            state.isOpen = shouldOpen
                        } else {
                            state.isOpen = !state.isOpen
                        }
                    }
                }
            }
        }
    });

    ////////////////
    // tabs
    ////////////////
    const tabHome = {
        template: '#tab_home',
        data: function () {
            return {
                pullhookstate: 'initial',
                ratio: 0,
                now: null,
                imageSrc: this.getTodayMenuImgPath(),
                dayPath: this.getTodayMenuImgPath(),
                todayStr: this.getTodayStr(),
                todaysMenu: {
                    id: 20180611,
                    data: {
                        year: 2018,
                        month: 6,
                        date: 11,
                        day: 1,
                        menuExist: true,
                        cal_s: 668,
                        cal_c: 847,
                        menu: [
                            {
                                type: 'main',
                                name: 'ごはん'
                            },
                            {
                                type: 'sub',
                                name: '★はるまき'
                            },
                            {
                                type: 'sub',
                                name: 'ぶたキムチいため'
                            },
                            {
                                type: 'sub',
                                name: 'ちゅうかふうたまごスープ'
                            },
                            {
                                type: 'drink',
                                name: '牛乳'
                            }
                        ]
                    }
                }
            }
        },
        created: function () {
            this.now = new Date()
            setInterval(() => {
                // this.now = new Date()
                // console.log('hoge')
            }, 100)
        },
        computed: {
            today: function () {
                return this.now.getSeconds()
            }
        },
        methods: {
            onPull(ratio) {
                this.ratio = ratio
            },
            onAction(done) {
                setTimeout(() => {
                    this.imageSrc = this.getTodayMenuImgPath()
                    done()
                }, 1500)
            },
            getTodayMenuImgPath: function () {
                let day = new Date()
                let dayStr = day.getFullYear() + '' + ('00' + (day.getMonth() + 1)).slice(-2) + '' + ('00' + day.getDate()).slice(-2)
                //return 'http://hoge.main.jp/handa-lunch-od/' + dayStr + '.jpg'
                return ''
            },
            getTodayStr: function () {
                let day = new Date()
                let today = (day.getMonth() + 1) + '月' + day.getDate() + '日'
                return today
            }
        }
    };
    const tabCalendar = {
        template: '#tab_calendar',
    };
    const tabSearch = {
        template: '#tab_search',
        data: function () {
            return {
                weeks: ['日', '月', '火', '水', '木', '金', '土'],
                calData: {year: 0, month: 0}
            }
        },
        created: function () {
            var date = new Date()
            this.calData.year = date.getFullYear()
            this.calData.month = date.getMonth() + 1
        },
        methods: {
            getMonthName: function (month) {
                let monthName = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']
                return monthName[month - 1]
            },
            getMonthJapaneseName: function (month) {
                let monthName = ['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']
                return monthName[month - 1]
            },
            moveLastMonth: function () {
                if (this.calData.month === 1) {
                    this.calData.year--
                    this.calData.month = 12
                } else {
                    this.calData.month--
                }
            },
            moveNextMonth: function () {
                if (this.calData.month === 12) {
                    this.calData.year++
                    this.calData.month = 1
                } else {
                    this.calData.month++
                }
            }
        },
        computed: {
            calendar: function () {
                // 1日の曜日
                let firstDay = new Date(this.calData.year, this.calData.month - 1, 1).getDay()
                // 晦日の日にち
                let lastDate = new Date(this.calData.year, this.calData.month, 0).getDate()
                // 日にちのカウント
                let dayIdx = 1
                let calendar = []
                for (let w = 0; w < 6; w++) {
                    let week = []
                    // 空白行をなくすため
                    if (lastDate < dayIdx) {
                        break
                    }
                    for (let d = 0; d < 7; d++) {
                        if (w === 0 && d < firstDay) {
                            week[d] = {day: ''}
                        } else if (w === 6 && lastDate < dayIdx) {
                            week[d] = {day: ''}
                            dayIdx++
                        } else if (lastDate < dayIdx) {
                            week[d] = {day: ''}
                            dayIdx++
                        } else {
                            week[d] = {day: dayIdx}
                            dayIdx++
                        }
                    }
                    calendar.push(week)
                }
                return calendar
            }
        }
    };
    const tabSettings = {
        template: '#tab_settings',
    };
    const appTabbar = {
        template: '#tabbar',
        data: function () {
            return {
                tabs: [
                    {
                        icon: 'fa-cutlery',
                        label: '今日の献立',
                        page: tabHome
                    },
                    {
                        icon: 'fa-table',
                        label: '今週の献立',
                        page: tabCalendar
                    },
                    {
                        icon: 'fa-search',
                        label: '検索',
                        page: tabSearch,
                        badge: ''
                    },
                    {
                        icon: 'fa-sliders',
                        label: 'その他',
                        page: tabSettings
                    }
                ]
            }
        },
        methods: {},
        computed: {
            index: {
                get() {
                    return store.state.tabbar.activeIndex
                },
                set(newVal) {
                    store.commit('tabbar/set', newVal)
                }
            },
            title: function () {
                return this.tabs[this.index].label
            }
        }
    };

    //TODO tabで軽く実装したものをSplitterに移行する

    const homePage = {
        template: '#home',
        data: function () {
            return {
                title: '今日の献立',
                pullhookstate: 'initial',
                ratio: 0,
                now: null,
                imageSrc: this.getTodayMenuImgPath(),
                dayPath: this.getTodayMenuImgPath(),
                todayStr: this.getTodayStr(),
                todaysMenu: {
                    id: 20180611,
                    data: {
                        year: 2018,
                        month: 6,
                        date: 11,
                        day: 1,
                        menuExist: true,
                        cal_s: 668,
                        cal_c: 847,
                        menu: [
                            {
                                type: 'main',
                                name: 'ごはん'
                            },
                            {
                                type: 'sub',
                                name: '★はるまき'
                            },
                            {
                                type: 'sub',
                                name: 'ぶたキムチいため'
                            },
                            {
                                type: 'sub',
                                name: 'ちゅうかふうたまごスープ'
                            },
                            {
                                type: 'drink',
                                name: '牛乳'
                            }
                        ]
                    }
                }
            }
        },
        created: function () {
            this.now = new Date()
            setInterval(() => {
                // this.now = new Date()
                // console.log('hoge')
            }, 100)
        },
        computed: {
            today: function () {
                return this.now.getSeconds()
            }
        },
        methods: {
            onPull(ratio) {
                this.ratio = ratio
            },
            onAction(done) {
                setTimeout(() => {
                    this.imageSrc = this.getTodayMenuImgPath()
                    done()
                }, 1500)
            },
            getTodayMenuImgPath: function () {
                let day = new Date()
                let dayStr = day.getFullYear() + '' + ('00' + (day.getMonth() + 1)).slice(-2) + '' + ('00' + day.getDate()).slice(-2)
                //return 'http://hoge.main.jp/handa-lunch-od/' + dayStr + '.jpg'
                return 'images/noimg.png'
            },
            getTodayStr: function () {
                let day = new Date()
                let today = (day.getMonth() + 1) + '月' + day.getDate() + '日'
                return today
            },
            toggleMenu: function () {
                this.$store.commit('splitter/toggle')
            },
            push: function () {
                //this.$emit('push-page', page2);
                store.commit('navigator/push', page2)
            }
        }
    };

    ////////////////
    // side menu
    ////////////////
    const newsPage = {
        template: '#news',
        methods: {
            toggleMenu: function () {
                this.$store.commit('splitter/toggle')
            },
            back: function () {
                this.$store.commit('navigator/pop')
            }
        }
    };

    const settingsPage = {
        template: '#settings',
        methods: {
            toggleMenu: function () {
                this.$store.commit('splitter/toggle')
            }
        }
    };


    ////////////////
    // main
    ////////////////
    new Vue({
        el: '#app',
        template: "#splitter",
        store: store,
        beforeCreate() {
            store.commit('navigator/push', homePage)
        },
        data: function () {
            return {
                sideMenuPages: [
                    {
                        title: 'news',
                        icon: 'fa-home',
                        page: newsPage
                    },
                    {
                        title: "settings",
                        icon: 'fa-home',
                        page: settingsPage
                    }
                ],
                links: [
                    {
                        title: '今日の献立',
                        icon: 'fa-home',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/kyonokondate.html'
                    },
                    {
                        title: '献立表',
                        icon: 'fa-home',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/kondate.html'
                    },
                    {
                        title: '食物アレルギーのある児童生徒への対応',
                        icon: 'fa-home',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/allergytaio.html'
                    },
                    {
                        title: '放射線測定結果',
                        icon: 'fa-home',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/hoshasen.html'
                    },
                    {
                        title: '給食だより',
                        icon: 'fa-home',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/kyushokudayori.html'
                    },
                    {
                        title: '学校給食費',
                        icon: 'fa-home',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/kyushokuhi.html'
                    },
                    {
                        title: '台風等における学校給食の取扱い',
                        icon: 'fa-home',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/taifu.html'
                    },
                    {
                        title: '給食物資の産地',
                        icon: 'fa-home',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/kyushoku.html'
                    },
                    {
                        title: '学校給食レシピ',
                        icon: 'fa-home',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/kyuusyokuresipi1.html'
                    }
                ]
            }
        },
        computed: {
            pageStack: function () {
                return store.state.navigator.stack
            },
            menuIsOpen: {
                get: function () {
                    return store.state.splitter.isOpen
                },
                set: function (newValue) {
                    store.commit('splitter/toggle', newValue)
                }
            },
            options: function () {
                return store.state.navigator.options
            }
        },
        methods: {
            storePop: function () {
                store.commit('navigator/pop')
            },
            loadPage: function (newPage) {
                store.commit('navigator/push', newPage)
                store.commit('splitter/toggle', false)
            },
            loadLink: function (url) {
                window.open(url, '_blank')
            }
        }
    });

    //TODO:iPhoneX,XS,MS Max, iPad 2018-への対応
    if (ons.platform.isIPhoneX()) {
        document.documentElement.setAttribute('onsflag-iphonex-landscape', '');
    }
</script>

<style scoped>
    body {
        -webkit-tap-highlight-color: transparent;
    }

    .menu-image {
        position: relative;
    }

    .menu-image p {
        position: absolute;
        top: 0px;
        left: 0px;
        margin: 0px;
        color: white;
        background: lightsalmon;
        font-size: 35px;
        line-height: 1;
        padding: 5px 15px;
        font-weight: bold;
    }

    .todays-image {
        width: 100%;
    }

    .pull-hook-spinner {
        color: #666;
        transition: transform .25s ease-in-out;
    }

    .pull-hook-progress {
        background-color: white;
        width: 32px;
        height: 32px;
        margin: 30px auto 0;
        border-radius: 100%;
        position: relative;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        display: inline-block;
        line-height: 0px;
    }

    .pull-hook-progress .progress-circular {
        width: 24px;
        height: 24px;
        position: absolute;
        top: 4px;
        left: 4px;
    }

    .pull-hook-progress .progress-circular__primary {
        transition: stroke-dashoffset 0s;
    }

    /*カレンダー*/
    #calendar {
        width: 100%;
        height: 90%;
    }

    #calendar-nav {
        text-align: center;
        height: 10%;
    }

    #calendar-nav span {
        display: inline-block;
        width: 300px;
    }

    #calendar-nav i:hover {
        cursor: pointer;
    }

    /* カレンダーのスタイル */
    .table th, td {
        text-align: center;
    }

    #calendar th:first-child {
        background-color: #FEEEFF;
    }

    #calendar td:first-child {
        background-color: #FEEEFF;
    }

    #calendar th:nth-child(7) {
        background-color: #DFFFFF
    }

    #calendar td:nth-child(7) {
        background-color: #DFFFFF
    }

    #calendar td:hover {
        opacity: 0.6;
    }
</style>

</body>
</html>
