<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- app info -->
    <meta name="description" content="handa school lunch information app">
    <meta name="author" content="shinya oguri">
    <meta name="theme-color" content="#5E3B4D">
    <title>shocknine</title>

    <!-- for pwa -->
    <link rel="manifest" href="manifest.json">

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/icon-android/icon-192-192.png">

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/onsenui@2.10.6/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui@2.10.6/css/onsen-css-components.min.css">

    <!-- JS -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script type="text/javascript" src="https://unpkg.com/onsenui@2.10.6/js/onsenui.min.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vue-onsenui@2.6.1/dist/vue-onsenui.js"></script>
    <script type="text/javascript" src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>

    <!-- mobile  -->
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">

    <!-- mobile Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="shocknine">

    <!-- ios Icon Image-->
    <link rel="apple-touch-icon" type="image/png" href="images/icon-ios/Icon-60@3x.png">

</head>

<body style="position:fixed;">

<!-- main page -->
<template id="home">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-toolbar-button @click="toggleMenu">
                    <v-ons-icon icon="fa-bars"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">{{ title }}</div>
            <div class="right">
                <v-ons-toolbar-button @click="openCalendar">
                    <v-ons-icon icon="fa-calendar"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
        </v-ons-toolbar>

        <v-ons-card>
            <v-ons-row>
                <v-ons-col width="30%">
                    <img class="border_radius" src="https://xrium.xyz/handa-lunch/20190121.jpg" style="width: 100%">
                </v-ons-col>
                <v-ons-col>
                    <div class="content">
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>ごはん</span>
                        </div>
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>とりめしのぐ</span>
                        </div>
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>★さんまのみぞれに</span>
                        </div>
                    </div>
                </v-ons-col>
                <v-ons-col>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                        <span>さわにわん</span>
                    </div>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                        <span>★ういろう</span>
                    </div>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/milk_gyunyu_pack.png">
                        <span>牛乳</span>
                    </div>
                </v-ons-col>
            </v-ons-row>
        </v-ons-card>

        <v-ons-card>
            <img width="100%" class="border_radius" src="https://xrium.xyz/handa-lunch/20190122.jpg">
            <v-ons-row>
                <v-ons-col>
                    <div class="content">
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>ごはん</span>
                        </div>
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>とりめしのぐ</span>
                        </div>
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>★さんまのみぞれに</span>
                        </div>
                    </div>
                </v-ons-col>
                <v-ons-col>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                        <span>さわにわん</span>
                    </div>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                        <span>★ういろう</span>
                    </div>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/milk_gyunyu_pack.png">
                        <span>牛乳</span>
                    </div>
                </v-ons-col>
            </v-ons-row>
        </v-ons-card>

        <v-ons-card>
            <v-ons-row>
                <v-ons-col width="30%">
                    <img class="border_radius" src="images/assets/noimg.png" style="width: 100%">
                </v-ons-col>
                <v-ons-col>
                    <div class="content">
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>ごはん</span>
                        </div>
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>とりめしのぐ</span>
                        </div>
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>★さんまのみぞれに</span>
                        </div>
                    </div>
                </v-ons-col>
                <v-ons-col>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                        <span>さわにわん</span>
                    </div>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                        <span>★ういろう</span>
                    </div>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/milk_gyunyu_pack.png">
                        <span>牛乳</span>
                    </div>
                </v-ons-col>
            </v-ons-row>
        </v-ons-card>

        <v-ons-card>
            <v-ons-row>
                <v-ons-col width="30%">
                    <img class="border_radius" src="images/assets/noimg.png" style="width: 100%">
                </v-ons-col>
                <v-ons-col>
                    <div class="content">
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>ごはん</span>
                        </div>
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>とりめしのぐ</span>
                        </div>
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>★さんまのみぞれに</span>
                        </div>
                    </div>
                </v-ons-col>
                <v-ons-col>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                        <span>さわにわん</span>
                    </div>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                        <span>★ういろう</span>
                    </div>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/milk_gyunyu_pack.png">
                        <span>牛乳</span>
                    </div>
                </v-ons-col>
            </v-ons-row>
        </v-ons-card>

        <v-ons-card>
            <v-ons-row>
                <v-ons-col width="30%">
                    <img class="border_radius" src="images/assets/noimg.png" style="width: 100%">
                </v-ons-col>
                <v-ons-col>
                    <div class="content">
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>ごはん</span>
                        </div>
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>とりめしのぐ</span>
                        </div>
                        <div>
                            <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                            <span>★さんまのみぞれに</span>
                        </div>
                    </div>
                </v-ons-col>
                <v-ons-col>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                        <span>さわにわん</span>
                    </div>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/food_gohan_hakumai.png">
                        <span>★ういろう</span>
                    </div>
                    <div>
                        <img style="width: 20px" src="images/assets/menu-category/milk_gyunyu_pack.png">
                        <span>牛乳</span>
                    </div>
                </v-ons-col>
            </v-ons-row>
        </v-ons-card>



    </v-ons-page>
</template>

<!-- calendar page -->
<template id="calendar">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-back-button>戻る</v-ons-back-button>
            </div>
            <div class="center">献立表</div>
            <div class="right">
            </div>
        </v-ons-toolbar>

        <p style="text-align: center">
            Some news here.
        </p>
    </v-ons-page>
</template>

<!-- splitter -->
<template id="splitter">
    <v-ons-splitter>
        <v-ons-splitter-side swipeable
                             width="65%"
                             collapse=""
                             side="left"
                             :open.sync="menuIsOpen"
        >
            <v-ons-page>
                <v-ons-row>
                    <v-ons-col>
                        <img width="50%" src="images/icon-android/icon-512-512.png">
                    </v-ons-col>
                </v-ons-row>
                <v-ons-list>
                    <v-ons-list-header>外部リンク</v-ons-list-header>
                    <v-ons-list-item v-for="link in links" :key="link.title"
                                     tappable
                                     modifier="longdivider, tappable"
                                     @click="loadLink(link.url)"
                    >
                        <div class="left">
                            <img class="list-item__thumbnail" :src=link.icon>
                        </div>
                        <div class="center">{{ link.title }}</div>
                        <div class="right">
                            <v-ons-icon icon="fa-external-link"></v-ons-icon>
                        </div>
                    </v-ons-list-item>
                    <v-ons-list-header>情報</v-ons-list-header>
                    <v-ons-list-item v-for="link in otherLinks" :key="link.title"
                                     tappable
                                     modifier="longdivider, tappable"
                                     @click="loadLink(link.url)"
                    >
                        <div class="left">
                            <img class="list-item__thumbnail" :src=link.icon>
                        </div>
                        <div class="center">{{ link.title }}</div>
                        <div class="right">
                            <v-ons-icon icon="fa-external-link"></v-ons-icon>
                        </div>
                    </v-ons-list-item>
                </v-ons-list>
            </v-ons-page>

        </v-ons-splitter-side>

        <v-ons-splitter-content>
            <v-ons-navigator :page-stack="pageStack"
                             :pop-page="storePop"
            ></v-ons-navigator>
        </v-ons-splitter-content>
    </v-ons-splitter>
</template>

<!-- app -->
<div id="app"></div>

<script>
    ////////////////
    // Service Worker
    ////////////////
    window.addEventListener('load', function () {
        if ('serviceWorker' in navigator) {
            navigator.serviceWorker.register("sw.js")
                .then(function (registration) {
                    console.log("serviceWorker registed.");
                }).catch(function (error) {
                console.warn("serviceWorker error.", error);
            });
        }
    });

    ////////////////
    // Vuex
    ////////////////
    const store = new Vuex.Store({
        modules: {
            navigator: {
                strict: true,
                namespaced: true,
                state: {
                    stack: [],
                    options: {}
                },
                mutations: {
                    push(state, page) {
                        state.stack.push(page)
                    },
                    pop(state) {
                        if (state.stack.length > 1) {
                            state.stack.pop()
                        }
                    },
                    replace(state, page) {
                        state.stack.pop();
                        state.stack.push(page)
                    },
                    reset(state, page) {
                        state.stack = [page || state.stack[0]]
                    },
                    options(state, newOptions = {}) {
                        state.options = newOptions
                    }
                }
            },
            splitter: {
                strict: true,
                namespaced: true,
                state: {
                    isOpen: false
                },
                mutations: {
                    toggle(state, shouldOpen) {
                        if (typeof shouldOpen === 'boolean') {
                            state.isOpen = shouldOpen
                        } else {
                            state.isOpen = !state.isOpen
                        }
                    }
                }
            }
        }
    });

    ////////////////
    // main page
    ////////////////
    const homePage = {
        template: '#home',
        data: function () {
            return {
                title: '今週の献立',
                menues: [
                    {

                    },
                    {

                    }
                ]
            }
        },
        computed: {
        },
        methods: {
            toggleMenu: function () {
                this.$store.commit('splitter/toggle')
            },
            openCalendar: function () {
                this.$store.commit('navigator/push', calendarPage)
            }
        }
    };

    ////////////////
    // side menu
    ////////////////
    const calendarPage = {
        template: '#calendar',
        methods: {
            toggleMenu: function () {
                this.$store.commit('splitter/toggle')
            },
            back: function () {
                this.$store.commit('navigator/pop')
            }
        }
    };

    ////////////////
    // main
    ////////////////
    new Vue({
        el: '#app',
        template: "#splitter",
        store: store,
        beforeCreate() {
            store.commit('navigator/push', homePage)
        },
        data: function () {
            return {
                links: [
                    {
                        title: '今日の献立',
                        icon: 'images/assets/menu-icon/breakfast.png',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/kyonokondate.html'
                    },
                    {
                        title: '献立表',
                        icon: 'images/assets/menu-icon/menu.png',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/kondate.html'
                    },
                    {
                        title: '食物アレルギーのある児童生徒への対応',
                        icon: 'images/assets/menu-icon/danger.png',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/allergytaio.html'
                    },
                    {
                        title: '給食だより',
                        icon: 'images/assets/menu-icon/newspaper.png',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/kyushokudayori.html'
                    },
                    {
                        title: '台風等における学校給食の取扱い',
                        icon: 'images/assets/menu-icon/wind.png',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/taifu.html'
                    },
                    {
                        title: '給食物資の産地',
                        icon: 'images/assets/menu-icon/farmer.png',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/kyushoku.html'
                    },
                    {
                        title: '学校給食レシピ',
                        icon: 'images/assets/menu-icon/whisk.png',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/kyuusyokuresipi1.html'
                    },
                    {
                        title: '学校給食費',
                        icon: 'images/assets/menu-icon/piggy-bank.png',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/kyushokuhi.html'
                    },
                    {
                        title: '放射線測定結果',
                        icon: 'images/assets/menu-icon/speedometer.png',
                        url: 'https://www.city.handa.lg.jp/kyushoku/kosodate/kyoiku/kyushoku/hoshasen.html'
                    }
                ],
                otherLinks: [
                    {
                        title: '半田市',
                        icon: 'images/assets/handa.png',
                        url: 'http://www.city.handa.lg.jp'
                    },
                    {
                        title: '名古屋大学 Media&Design Group',
                        icon: 'images/assets/yes-t-logo-front-bk.png',
                        url: 'http://www.mdg.ss.is.nagoya-u.ac.jp'
                    },
                    {
                        title: '開発者',
                        icon: 'images/assets/ogrium.png',
                        url: 'https://shinyaoguri.com'
                    },
                    {
                        title: '著作権情報',
                        icon: 'images/assets/menu-icon/gdpr.png',
                        url: 'https://raw.githubusercontent.com/shinyaoguri/shocknine/master/LICENSE'
                    }
                ]
            }
        },
        computed: {
            pageStack: function () {
                return store.state.navigator.stack
            },
            menuIsOpen: {
                get: function () {
                    return store.state.splitter.isOpen
                },
                set: function (newValue) {
                    store.commit('splitter/toggle', newValue)
                }
            }
        },
        methods: {
            storePop: function () {
                store.commit('navigator/pop')
            },
            loadPage: function (newPage) {
                store.commit('navigator/push', newPage)
                store.commit('splitter/toggle', false)
            },
            loadLink: function (url) {
                window.open(url, '_blank')
            }
        }
    });

    //TODO:iPhoneX,XS,MS Max, iPad 2018-への対応
    if (ons.platform.isIPhoneX()) {
        document.documentElement.setAttribute('onsflag-iphonex-landscape', '');
    }
</script>

<style scoped>
    body {
        -webkit-tap-highlight-color: transparent;
    }

    .profile-pic {
        width: 100%;
        background-color: #fff;
        border-bottom: 1px solid #DDD;
        color: rgba(0, 0, 0, .56);
    }
    .page--material .profile-pic {
        background-color: #f6f6f6;
    }

    .profile-pic > img {
        display: block;
        max-width: 50%;
    }

    .card {
        padding: 8px;
    }

    .border_radius {
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
    }

    ons-row > ons-col {
        padding: 2px;
    }

    ons-row > ons-col > .card {
        margin: 2px;
        padding: 2px;
    }

    /*カレンダー*/

</style>

</body>
</html>
