<!DOCTYPE html>

<html lang="ja">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- app info -->
    <meta name="description" content="handa school lunch information app">
    <meta name="author" content="shinya oguri">
    <meta name="theme-color" content="#5E3B4D">
    <title>shocknine</title>

    <!-- favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="images/icon-android/icon-192x192.png">

    <!-- android -->
    <link rel="manifest" href="manifest.json">

    <!-- mobile  -->
    <meta name="viewport"
          content="width=device-width,height=device-height,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,viewport-fit=cover">

    <!-- mobile Safari -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="apple-mobile-web-app-title" content="shocknine">
    <link rel="apple-touch-icon" type="image/png" href="images/icon-ios/Icon-60@3x.png">

    <!-- CSS -->
    <link rel="stylesheet" href="https://unpkg.com/onsenui@2.10.6/css/onsenui.css">
    <link rel="stylesheet" href="https://unpkg.com/onsenui@2.10.6/css/onsen-css-components.min.css">

    <!-- JS -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.min.js"></script>
    <script src="https://unpkg.com/vuex@3.0.1/dist/vuex.min.js"></script>
    <script src="https://unpkg.com/onsenui@2.10.6/js/onsenui.min.js"></script>
    <script src="https://unpkg.com/vue-onsenui@2.6.1/dist/vue-onsenui.min.js"></script>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
    <script src="https://unpkg.com/vue-router@3.0.2/dist/vue-router.min.js"></script>
    <script src="https://unpkg.com/vue-jsonp@0.1.8/dist/vue-jsonp.umd.js"></script>
</head>

<body style="position:fixed;">

<!-- main page -->
<template id="home">
    <v-ons-page>
        <v-ons-toolbar>
            <div class="left">
                <v-ons-toolbar-button @click="toggleMenu">
                    <v-ons-icon icon="fa-bars"></v-ons-icon>
                </v-ons-toolbar-button>
            </div>
            <div class="center">
                <v-ons-icon icon="fa-cutlery"></v-ons-icon>
                shocknine
            </div>
            <div class="right">
            </div>
        </v-ons-toolbar>

        <main class="main-container">
            <div class="chat-timeline">
                <balloon
                        v-for="chat in chatLogs"
                        :speaker="chat.speaker"
                        :name="chat.name"
                        :message="chat.message">
                </balloon>
            </div>
            <chat-form
                    @submit-message="submit"
                    apply-event="submit-message">
            </chat-form>
        </main>
    </v-ons-page>
</template>

<template id="baloon">
    <div class="conversation-balloon" :class="speaker">
        <div class="avatar" v-if="speaker === 'other'">
            <img src="images/icon-ios/Icon-60@3x.png">
        </div>
        <div class="message">{{ message }}</div>
    </div>
</div>
</template>

<template id="chatform">
    <div class="chat-form">
        <div class="form-container">
            <input type="text" class="message" v-model="message">
            <button class="submit" @click="submit">送信</button>
        </div>
    </div>
</template>

<!-- splitter -->
<template id="splitter">
    <v-ons-splitter>
        <v-ons-splitter-side swipeable
                             width="65%"
                             collapse=""
                             side="left"
                             :open.sync="menuIsOpen"
        >
            <v-ons-page>
                <v-ons-row>
                    <v-ons-col>
                        <img width="100%" src="images/icon-android/icon-512x512.png">
                    </v-ons-col>
                </v-ons-row>
                <v-ons-list>
                    <v-ons-list-header>外部リンク</v-ons-list-header>
                    <v-ons-list-item v-for="link in links" :key="link.title"
                                     tappable
                                     modifier="longdivider, tappable"
                                     @click="loadLink(link.url)"
                    >
                        <div class="left">
                            <img class="list-item__thumbnail" :src=link.icon>
                        </div>
                        <div class="center">{{ link.title }}</div>
                        <div class="right">
                            <v-ons-icon icon="fa-external-link"></v-ons-icon>
                        </div>
                    </v-ons-list-item>
                </v-ons-list>
            </v-ons-page>
        </v-ons-splitter-side>

        <v-ons-splitter-content>
            <v-ons-navigator :page-stack="pageStack"
                             :pop-page="goBack"
            ></v-ons-navigator>
        </v-ons-splitter-content>
    </v-ons-splitter>
</template>

<!-- app -->
<div id="app"></div>

<script>
     Vue.use(vueJsonp)

    ////////////////
    // Service Worker
    ////////////////
    // if ('serviceWorker' in navigator) {
    //     window.addEventListener('load', function() {
    //         navigator.serviceWorker.register('/sw.js').then(function(registration) {
    //             console.log('ServiceWorker registration successful with scope: ', registration.scope);
    //         }, function(err) {
    //             console.log('ServiceWorker registration failed: ', err);
    //         });
    //     });
    // }

    ////////////////
    // Vuex
    ////////////////
    const store = new Vuex.Store({
        modules: {
            navigator: {
                strict: true,
                namespaced: true,
                state: {
                    stack: []
                },
                mutations: {
                    push(state, page) {
                        state.stack.push(page)
                    },
                    pop(state) {
                        if (state.stack.length > 1) {
                            state.stack.pop()
                        }
                    }
                },
            },
            splitter: {
                strict: true,
                namespaced: true,
                state: {
                    isOpen: false
                },
                mutations: {
                    toggle(state, shouldOpen) {
                        if (typeof shouldOpen === 'boolean') {
                            state.isOpen = shouldOpen
                        } else {
                            state.isOpen = !state.isOpen
                        }
                    }
                },
            },
            model: {
                strict: true,
                namespaced: true,
                state: {
                    links: [],
                    allTableUrl: '',
                    tables: []
                },
                mutations: {
                    setLinks(state, l) {
                        state.links = l
                    },
                    setAllTablesUrl(state, url) {
                        state.allTableUrl = url
                    },
                    pushTableUrl(state, data) {
                        state.tables.push(data)
                    }
                }
            }
        }
    });

     ////////////////
     // Components
     ////////////////
    const Balloon = {
        template: '#baloon',
        props: {
            speaker: {
                type: String,
                required: true,
                validator: value => {
                    return ['my', 'other'].includes(value);
                }
            },
            message: {
                type: String,
                required: true
            }
        }
    };

    const ChatForm = {
        template: '#chatform',
        props: {
            applyEvent: {
                type: String,
                required: true
            }
        },
        data () {
            return {
                message: ''
            }
        },
        methods: {
            submit () {
                this.$emit(this.applyEvent, this.message)
                this.message = '';
            }
        }
    };

    ////////////////
    // home page
    ////////////////
    const homePage = {
        template: '#home',
        props: ['request'],
        data: function () {
            return {
                chatLogs: [],
                version: '0.0.1'
            }
        },
        mounted() {
            setTimeout(() => {
                firstCommand = this.getCommand(this.$route.params.request)
                this.submit(firstCommand)
            }, 1000)
        },
        methods: {
            toggleMenu: function () {
                this.$store.commit('splitter/toggle')
            },
            submit (value) {
                if(value != ''){
                    this.chatLogs.push({
                        speaker: 'my',
                        message: value
                    });
                    this.scrollDown()
                    this.botSubmit()
                    this.scrollDown()
                }
            },
            deleyUpdate (messages) {
                if (messages.length != 0) {
                    setTimeout( () => {
                        if (messages[0] != '') {
                            this.chatLogs.push({
                                speaker: 'other',
                                message: messages[0]
                            })
                        }
                        this.scrollDown()
                        this.deleyUpdate(messages.slice(1, messages.length+1))
                    }, 500)
                }
            },
            botSubmit () {
                let lastMessage = this.chatLogs[this.chatLogs.length-1]
                this.generateRepry(lastMessage.message)
                    .then(genText => {
                        this.deleyUpdate(genText)
                    })
                    .catch(error => {
                        console.error(error)
                    })
            },
            scrollDown () {
                const target = this.$el.querySelector('.chat-timeline');
                setTimeout(() => {
                    const height = target.scrollHeight - target.offsetHeight;
                    target.scrollTop += 10;
                    if (height <= target.scrollTop) {
                        return;
                    } else {
                        this.scrollDown();
                    }
                }, 0);
            },
            getCommand (pathParam) {
                switch (pathParam) {
                    case 'today':
                        return '今日の給食を教えて'
                        break
                    case 'thisweek':
                        return '今週の給食を教えて'
                        break
                    case 'lastweek':
                        return '先週の給食を教えて'
                        break
                    case 'nextweek':
                        return '来週の給食を教えて'
                        break
                    default:
                        return '今日の給食を教えて'
                }
            },
            generateRepry (message) {
                return new Promise((resolve, reject) => {
                    let date = new Date()
                    let repryText = []
                    switch (true) {
                        case /(今日|きょう|today)/.test(message):
                            this.getLunchDayMenu(date)
                                .then(menu_str => {
                                    repryText.push('今日の給食ですね．お調べします．')
                                    if (menu_str != '') {
                                        repryText.push(menu_str)
                                    } else {
                                        repryText.push('献立が見つかりません')
                                    }
                                    resolve(repryText)
                                })
                                .catch(error => {
                                    reject(error)
                                })
                            break
                        case /(明日|あした|tomorrow)/.test(message):
                            this.getLunchDayMenu(new Date(date.getTime() + 1*24*60*60*1000))
                                .then(menu_str => {
                                    repryText.push('明日の給食ですね．お調べします．')
                                    if (menu_str != '') {
                                        repryText.push(menu_str)
                                    } else {
                                        repryText.push('献立が見つかりません')
                                    }
                                    resolve(repryText)
                                })
                                .catch(error => {
                                    reject(error)
                                })
                            break
                        case /(明後日|あさって|dayaftertomorrow)/.test(message):
                            this.getLunchDayMenu(new Date(date.getTime() + 2*24*60*60*1000))
                                .then(menu_str => {
                                    repryText.push('明後日の給食ですね．お調べします．')
                                    if (menu_str != '') {
                                        repryText.push(menu_str)
                                    } else {
                                        repryText.push('献立が見つかりません')
                                    }
                                    resolve(repryText)
                                })
                                .catch(error => {
                                    reject(error)
                                })
                            break
                        case /(昨日|きのう|tomorrow)/.test(message):
                            this.getLunchDayMenu(new Date(date.getTime() - 1*24*60*60*1000))
                                .then(menu_str => {
                                    repryText.push('昨日の給食ですね．お調べします．')
                                    if (menu_str != '') {
                                        repryText.push(menu_str)
                                    } else {
                                        repryText.push('献立が見つかりません')
                                    }
                                    resolve(repryText)
                                })
                                .catch(error => {
                                    reject(error)
                                })
                            break
                        case /(今週|こんしゅう|thisweek)/.test(message):
                            this.getLunchWeekMenu(date)
                                .then(menu_str_arr => {
                                    repryText.push('今週の給食ですね．お調べします．')
                                    if (menu_str_arr != []) {
                                        resolve(repryText.concat(menu_str_arr))
                                    } else {
                                        repryText.push('献立が見つかりません')
                                    }
                                })
                                .catch(error => {
                                    reject(error)
                                })
                            break
                        case /(先週|せんしゅう|lastweek)/.test(message):
                            this.getLunchWeekMenu(new Date(date.getTime() - 7*24*60*60*1000))
                                .then(menu_str_arr => {
                                    repryText.push('先週の給食ですね．お調べします．')
                                    if (menu_str_arr != []) {
                                        resolve(repryText.concat(menu_str_arr))
                                    } else {
                                        repryText.push('献立が見つかりません')
                                    }
                                })
                                .catch(error => {
                                    reject(error)
                                })
                            break
                        case /(来週|らいしゅう|nextweek)/.test(message):
                            this.getLunchWeekMenu(new Date(date.getTime() + 7*24*60*60*1000))
                                .then(menu_str_arr => {
                                    repryText.push('来週の給食ですね．お調べします．')
                                    if (menu_str_arr != []) {
                                        resolve(repryText.concat(menu_str_arr))
                                    } else {
                                        repryText.push('献立が見つかりません')
                                    }
                                })
                                .catch(error => {
                                    reject(error)
                                })
                            break
                        case /(20[0-9][0-9])年([1-9]|1[0-2])月([1-9]|[12][0-9]|3[01])日/.test(message):
                            let tmp_match2 = message.match(/(20[0-9][0-9])年([1-9]|1[0-2])月([1-9]|[12][0-9]|3[01])日/)
                            let tmp_y2 = tmp_match2[1]
                            let tmp_m2 = tmp_match2[2]
                            let tmp_d2 = tmp_match2[3]
                            this.getLunchDayMenu(new Date(tmp_y2, tmp_m2-1, tmp_d2))
                                .then(menu_str => {
                                    repryText.push(tmp_y2 + '年' + tmp_m2 + '月' + tmp_d2 + '日の給食ですね．お調べします.')
                                    if (menu_str != '') {
                                        repryText.push(menu_str)
                                    } else {
                                        repryText.push('献立が見つかりません')
                                    }
                                    resolve(repryText)
                                })
                                .catch(error => {
                                    reject(error)
                                })
                            break
                        case /([1-9]|1[0-2])月([1-9]|[12][0-9]|3[01])日/.test(message):
                            let tmp_match = message.match(/([1-9]|1[0-2])月([1-9]|[12][0-9]|3[01])日/)
                            let tmp_m = tmp_match[1]
                            let tmp_d = tmp_match[2]
                            this.getLunchDayMenu(new Date(date.getFullYear(), tmp_m-1, tmp_d))
                                .then(menu_str => {
                                    repryText.push(tmp_m + '月' + tmp_d + '日の給食ですね．お調べします.')
                                    if (menu_str != '') {
                                        repryText.push(menu_str)
                                    } else {
                                        repryText.push('献立が見つかりません')
                                    }
                                    resolve(repryText)
                                })
                                .catch(error => {
                                    reject(error)
                                })
                            break
                        case /version/.test(message):
                            repryText.push('Ver:0.0.1')
                            resolve(repryText)
                            break
                        default:
                            repryText.push('ちょっとよくわからなかったので，もう一度聞いてみてね．\n聞き方の例\n「今日の給食を教えて」\n「来週の給食を教えて」\n「7月20日の給食を教えて」')
                            resolve(repryText)
                    }
                })
            },
            getLunchDayMenu (date) {
                return new Promise( (resolve, reject) => {
                    let y = date.getFullYear()
                    let m = date.getMonth()+1
                    let d = date.getDate()
                    let dd = (date.getDay() === 0) ? '日' : (date.getDay() === 1 ? '月' : (date.getDay() === 2 ? '火' : (date.getDay() === 3 ? '水' : (date.getDay() === 4 ? '木' : (date.getDay() === 5 ? '金' : '土')))))
                    let repText = ''
                    let table = store.state.model.tables.filter( (item, index) => {
                        return (item.year === y && item.month === m) ? true : false
                    })
                    console.log('table url')
                    console.log(store.state.model.tables)
                    console.log(table)
                    let tableUrl = table[0].url
                    console.log(tableUrl)

                    //TODO
                    // 本来であればCSVとかJsonとか解析しやすい形式が望ましいが
                    // RDFを解析するため若干煩雑になっている
                    Vue.jsonp(tableUrl)
                        .then( json => {
                            for (key in json) {
                                let dayMenu = json[key]
                                let dayMenuKeys = Object.keys(dayMenu)
                                let tmp_y = Number(dayMenu[dayMenuKeys[2]][0].value)
                                let tmp_m = Number(dayMenu[dayMenuKeys[3]][0].value)
                                let tmp_d = Number(dayMenu[dayMenuKeys[4]][0].value)

                                if ((tmp_y === y) && (tmp_m === m) && (tmp_d === d)) {
                                    if (Object.keys(dayMenu).length != 5) {
                                        //日付情報を追加
                                        repText = (tmp_y + '年' + tmp_m + '月' + tmp_d + '日(' + dd + ')の給食は\n')
                                        //メニュー情報を追加
                                        tmp_menu_keys = dayMenuKeys.slice(5, dayMenuKeys.length-2)
                                        for (mk in tmp_menu_keys) {
                                            tmp_key = tmp_menu_keys[mk]
                                            tmp_menu = String(dayMenu[tmp_key][0].value)
                                            repText = (repText + '・' + tmp_menu + '\n')
                                        }
                                        //カロリー情報を追加
                                        repText = (repText + '小:' + dayMenu[dayMenuKeys.slice(-2)[0]][0].value + ' cal, ')
                                        repText = (repText + '中:' + dayMenu[dayMenuKeys.slice(-1)[0]][0].value + ' cal\n')
                                    }
                                }
                            }
                            resolve(repText)
                        })
                        .catch( error => {
                            reject(error)
                        })
                })
            },
            getLunchWeekMenu (date) {
                return new Promise((resolve, reject) => {
                    let dd_index = date.getDay()
                    let monday_date = (dd_index === 0) ? new Date(date.getTime() - 6*24*60*60*1000) : new Date(date.getTime() - (dd_index-1)*24*60*60*1000)

                    let promises = []
                    for (let w=0; w<7; w++) {
                        let tmp_week = new Date(monday_date.getTime() + w*24*60*60*1000)
                        promises.push(this.getLunchDayMenu(tmp_week))
                    }
                    Promise.all(promises)
                        .then(results => {
                            resolve(results)
                        })
                        .catch(error => {
                            reject(error)
                        })
                })
            }
        },
        components: {
            balloon: Balloon,
            chatForm: ChatForm
        },
    };

     ////////////////
     // router
     ////////////////
    const router = new VueRouter({
        routes: [
            {
                path: '/',
                name: 'Home',
                component: {name: 'home', extends: homePage},
                children: [
                    {
                        path: ':request',
                        name: 'request',
                        component: {name: 'request', extends: homePage},
                    }
                ]
            }
        ]
    })

    ////////////////
    // main
    ////////////////
    new Vue({
        el: '#app',
        template: "#splitter",
        router: router,
        store: store,
        computed: {
            pageStack() {
                return store.state.navigator.stack
            },
            menuIsOpen: {
                get() {
                    return store.state.splitter.isOpen
                },
                set(newValue) {
                    store.commit('splitter/toggle', newValue)
                }
            },
            links() {
                return store.state.model.links
            }
        },
        methods: {
            loadLink(url) {
                window.open(url, '_blank')
            },
            goBack() {
                this.$router.push({name: this.$route.matched[this.$route.matched.length - 2].name})
            }
        },
        beforeCreate() {
            axios.get('data.json')
                .then( response => {
                    store.commit('model/setLinks', response.data.links)
                    store.commit('model/setAllTablesUrl', response.data.allTableUrl)
                    //TODO
                    // 本当はLinkDataからdatapackage.jsonを取得して解析したいが
                    // レスポンスが20秒以上もあるため使い物にならない．
                    // とりあえず現状は手動で取得すべきファイル名を生成する
                    // また，本来であればcsvかjson形式のファイルが良いがrdf_jsonのファイルのレスポンスが最速だったのでそちらを使用している
                    //2017年2月~最新のURLの生成
                    let date = new Date()
                    let latestDate = new Date(date.getTime() + 20*24*60*60*1000)
                    let startDate = new Date('2017-02')
                    for (let ym=startDate; ym<latestDate; ym.setMonth(ym.getMonth()+1)) {
                        url = 'https://linkdata.org/api/1/rdf1s4907i/handa_kyushoku_menu_' + ym.getFullYear()  + ('0'+(ym.getMonth()+1)).slice(-2) + '_rdf.json'
                        console.log(url)
                        store.commit('model/pushTableUrl', {
                            year: ym.getFullYear(),
                            month: (ym.getMonth()+1),
                            url: url
                        })
                    }
                })
                .catch( error => {
                    console.error('Link一覧が取得できない' + error)
                })
        },
        created() {
            const mapRouteStack = route => store.state.navigator.stack = route.matched.map(m => m.components.default)
            mapRouteStack(this.$route)
            router.beforeEach((to, from, next) => mapRouteStack(to) && next())
        }
    });

    //TODO:iPhoneX,XS,MS Max, iPad 2018-への対応
    if (ons.platform.isIPhoneX()) {
        document.documentElement.setAttribute('onsflag-iphonex-landscape', '');
    }
</script>

<style scoped>
    body {
        -webkit-tap-highlight-color: transparent;
    }

    .main-container {
        height: 100%;
        position: relative;
    }

    /*baloon*/
    .conversation-balloon.my {
        text-align: right;
        margin-right: 2px;
    }

    .conversation-balloon.my > .message {
        margin-right: 20px;
        background-color: #85FF49;
        text-align: left;
        max-width: 50%;
    }
    .conversation-balloon.my > .message::before {
        right: -20px;
        transform: rotate(-25deg);
        border-left: 18px solid #85FF49;
    }
    .conversation-balloon.other {
        text-align: left;
    }
    .conversation-balloon.other > .avatar {
        float: left;
    }
    .conversation-balloon.other > .message {
        margin-left: 10px;
        background-color: #FFFFFF;
        max-width: 70%;
    }
    .conversation-balloon.other > .message::before {
        left: -20px;
        transform: rotate(25deg);
        border-right: 18px solid #FFFFFF;
        margin-left: 2px;
    }
    .conversation-balloon > .avatar {
        width: 60px;
    }
    .conversation-balloon > .avatar::after {
        clear: both;
    }
    .conversation-balloon > .avatar > img {
        display: block;
        margin: 0 auto;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        margin-bottom: 5px;
    }
    .conversation-balloon > .message {
        white-space: pre-line;
        display: inline-block;
        max-width: 280px;
        padding: 10px 10px;
        border-radius: 30px;
        font-size: 1.4rem;
        min-height: 20px;
        word-wrap: break-word;
        position: relative;
        margin: 5px;
    }

    .conversation-balloon > .message::before {
        content: "";
        display: block;
        position: absolute;
        top: 5px;
        border: 8px solid transparent;
    }

    /*chat form*/
    .chat-form {
        position: fixed;
        bottom: 0;
        right: 0;
        left: 0;
    }

    .form-container {
        position: relative;
        height: 40px;
    }
    .form-container > .message {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 15%;
        width: 75%;
        font-size: 1.3rem;
        padding: 0px;
        margin: 5px 5px 5px 10px;
        border: 0px;
        border-radius: 20px;
    }
    .form-container > .submit {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        width: 20%;
        text-align: center;
        background-color: #4F83E1;
        color: white;
        font-size: 1.6rem;
    }

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        outline: none;
        padding: 0;
        appearance: none;
    }

    .chat-timeline {
        position: fixed;
        top: 40px;
        bottom: 40px;
        left: 0;
        right: 0;
        width: 100%;
        background-color: #88A4D4;
        overflow-y: auto;
        display: flex;
        flex-direction: column;

    }
    .chat-timeline > .conversation-balloon {
        margin-top: 10px;
        margin-bottom: 10px;
    }


</style>

</body>
</html>
